/*****************************************************
 * Magic Mirror                                      *
 * Custom CSS                                        *
 *                                                   *
 * By Michael Teeuw http://michaelteeuw.nl           *
 * MIT Licensed.                                     *
 *                                                   *
 * Add any custom CSS below.                         *
 * Changes to this files will be ignored by GIT. *
 *****************************************************/

 *, *::before, *::after {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
 }

 html {
   /*cursor: none;*/
   overflow:hidden;
   font-size: 62.5%;
   -webkit-font-smoothing: antialiased;
 }

 .region:after {
   visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
 }

.fa-indy-eleven {
  background: url('../assets/img/Indy_Eleven_Logo.svg') no-repeat center center;
  background-size: cover;
  height: 26px;
  width: 26px;
  padding: .25rem;
}

.fa-indy-colts {
  background: url('../assets/img/Indianapolis_Colts_logo.svg') no-repeat center center;
  background-size: cover;
  height: 26px;
  width: 26px;
}

.fa-indy-pacers {
  background: url('../assets/img/Indiana_Pacers.svg') no-repeat center center;
  background-size: cover;
  height: 26px;
  width: 26px;
}

.fa-cincy-reds {
  background: url('../assets/img/Cincinnati_Reds_Logo.svg') no-repeat center center;
  background-size: cover;
  height: 26px;
  width: 26px;
}
